variable "api_key" {
  description = "Softsource vBridge API Key"
  type        = string
  sensitive   = true
}

variable "api_user_email" {
  description = "Softsource vBridge user email address"
  type        = string
  sensitive   = true
}

variable "client_id" {
  description = "Softsource vBridge client id"
  type        = number
  sensitive   = true
}

variable "api_url" {
  description = "URL for the API"
  type        = string
  default = "http://127.0.0.1:8087"
  sensitive   = true
}

variable "objectstorage_tenant_id" {
  description = "Softsource vBridge Object Storage Tenant ID"
  type        = number
  sensitive   = true
}

variable "canonical_user_id" {
  description = "Softsource vBridge Object Storage Canonical User ID"
  type        = string
  sensitive   = true
}

terraform {
  required_providers {
    vbridge = {
      version = "~> 1.0.1"
      source  = "durankeeley.com/vbridge/vbridge-vm"
    }
  }
}

provider "vbridge" {
  api_url    = "${var.api_url}"
  api_key    = "${var.api_key}"
  user_email = "${var.api_user_email}"
}

resource "vbridge_objectstorage_bucket" "examplebucket" {
  objectstorage_tenant_id = var.objectstorage_tenant_id
  canonical_user_id = "${var.canonical_user_id}"
  bucket_name = "sdcterraformbucket"
  object_lock = false
}
